# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
.vs/Gameboy/v16/.suo
*.db
*.opendb
*.tlog
*.log
*.pdb
*.ilk
*.txt
*.idb
*.h
*.py
*.cc
*.bazel
*.md
*.in
*.pump
*.cmake
lib/googletest/scripts/test/Makefile
lib/googletest/LICENSE
lib/googletest/CONTRIBUTORS
*.vcxproj
*.filters
*.db-shm
*.testlog
*.manifest
*.db-wal
*.targets
*.xml
*.nupkg
*.gb
*.CopyComplete
.vs/gb-emulator/v16/.suo
*.config
*.user
.vs/gb-emulator/v16/.suo
.vs/gb-emulator/v16/.suo
